.section-tours{
    margin-top: -10rem;
    padding: 25rem 0 12rem 0;
}

    .card{
        perspective: 150rem;
        -moz-perspective: 150rem;
        color: white;
        position: relative;
        height: 50rem;
    &-side{
        background-color: orangered;
        height: 53rem;
        transition: all .8s ease;
        font-size: 2rem;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        overflow: hidden;
        backface-visibility: hidden;
        border-radius: 0.3rem;
        box-shadow: 0 1.5rem 4rem rgba($color-black, .4);
       
        &--front{
            background-color:white;
        }
       &--back{

         transform: rotateY(180deg);
&-1{
    background-image: linear-gradient(to right bottom , $color-secondary-light,$color-secondary-darken);
}
&-2{
    background-image: linear-gradient(to right bottom , $color-primary-light,$color-primary-darken);
}
&-3{
    background-image: linear-gradient(to right bottom , $color-tertiary-light,$color-tertiary-darken);
}
       }
       
       &-image{
        background-size: cover;
        height: 24rem;
        
        background-blend-mode: screen;
        -webkit-clip-path:polygon(0 0 , 100% 0, 100% 85%, 0 100%);
        clip-path:polygon(0 0 , 100% 0, 100% 85%, 0 100%);


        &--1{
            background-image:linear-gradient(to right bottom , $color-secondary-light , $color-secondary-darken) , 
            url(../advcss/images/nat-5.jpg);
        }
        &--2{
            background-image:linear-gradient(to right bottom , $color-primary-light , $color-primary-darken) , 
            url(../advcss/images/nat-6.jpg);
        }
        &--3{
            background-image:linear-gradient(to right bottom , $color-tertiary-light , $color-tertiary-darken) , 
            url(../advcss/images/nat-7.jpg);
        }
       }
       &--heading{
        color: $color-white;
        font-size: 2.6rem;
        font-weight: 310;
        
        position: absolute;
        top: 14rem;
        right: 2rem;
        text-align: right;
        
        width: 75%;
        &-span{
            padding: 1rem 1.5rem;
            text-transform: uppercase;
            -webkit-box-decoration-break: clone;
            box-decoration-break: clone;
        }
        &-span--1{
            background-image: linear-gradient(to right bottom , rgba($color-secondary-light, .8), rgba($color-secondary-darken , .8));
        }
        &-span--2{
            background-image: linear-gradient(to right bottom , rgba($color-primary-light, .8), rgba($color-primary-darken , .8));
        }
        &-span--3{
            background-image: linear-gradient(to right bottom , rgba($color-tertiary-light, .8), rgba($color-tertiary-darken , .8));
        }
       }
       &-details{
        padding: 2rem;
        ul{
    color:rgba($color-black, 1);
        list-style: none;
        width: 80%;
        margin: 0 auto;
        li{
            text-align: center;
            padding: 1rem;
            font-size: 1.5rem;
            
            &:not(:last-child){
                border-bottom: 0.1rem solid #eee;
            }
        }
       }
    }
    }
    &:hover &-side--front{
        transform: rotateY(-180deg);
    }
        &:hover &-side--back{
        transform: rotateY(0);
    } 
   &--cta{
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
width: 90%;
   }
   &-price-box{
    text-align: center;
    color: $color-white;
    margin-bottom: 4rem;
   }
   &-price-only{
font-size: 1.5rem;
text-transform: uppercase;
   }
&-price-value{
    font-size: 6rem;
    font-weight: 100;
}
}
.col-1-of-3{
    width: calc((100% - 2 * #{$gutter-horizontal}) / 3);
    float: left;
    
    &:not(:last-child){
        margin-right: $gutter-horizontal;
    }
}
.sec-btn{
    margin-top: 8rem;
}